.App {
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: beige;
  padding: 10px;
}

.Home__footer__icon {
  text-decoration: none;
  color: darkcyan;
  font-size: 30px;
}
