.App {
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: beige;
  padding: 1.5rem;
}

a {
  text-decoration: none;
}
